*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background: radial-gradient(#b1b1b1, #000);
    margin: 0;
    display: block;
    text-transform: uppercase;
}

/* header */
.header {
    align-content: center;
    border-bottom: 3px dashed #000;
    height: 200px;
    max-width: 650px;
    margin: 10px;
    padding: 20px;
}

.header img {
    height: 100%;
    width: 100%;
    max-width: 700px;
}

.instructions {
    color: #fafafa;
    text-align: center;
}

/* scores timer and clicks counter */
.flips {
    margin: 3px;
    padding: 0;
}

.results {
    background-color: #000;
    border: 3px solid #f8f8ff;
    border-radius: 6px;
    color: #f8f8ff;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    max-width: 150px;
}

/* game area styling */
.grid {
    background: #f8f8ff;
    border-radius: 12px;
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
    border: 0;
}

.card,
.back,
.front {
    border-radius: 6px;
    height: 150px;
    width: 150px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    background: #000 url('../imgs/backCard\ \(2\)\ \(1\).png') no-repeat center center / contain;
}

.front:hover {
    border: 2px solid cyan;
}

.back {
    transform: rotateY(180deg);
    background-color: #FFDE2A;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: none !important;
}

/* restart game button and modal styling */
#restartBtn {
    background-color: #000;
    border: 3px solid #f8f8ff;
    border-radius: 3px;
    color: #f8f8ff;
    font-size: 20px;
    height: 100%;
    margin: 10px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

#restartBtn:hover {
    background-color: #f8f8ff;
    border: 3px solid cyan;
    color: #000;
}

.restartModal {
    text-transform: uppercase;
}

.modal-content {
    background: #f8f8ff;
    border: 2px solid #c4302b;
    border-radius: 12px;
    text-align: center;
}

.modal-title {
    height: 100%;
    width: 100%;
    text-align: center;
}

.modal-footer {
    height: 100%;
    width: 100%;
    padding-top: 0;
}

.modalBtn {
    background-color: #000;
    border: 2px solid cyan;
    border-radius: 3px;
    color: #f8f8ff;
    font-size: 20px;
    height: 100%;
    width: 80px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;  
}

.modalBtn:hover {
    background-color: #f8f8ff;
    border: 3px solid cyan;
    color: #000;
}


/* footer socials styling */
.about {
    height: 75px;
    background-color: #f8f8ff;
    text-align: center;
    margin-top: 10px;
    padding: 30px;

}

#victory {
    visibility: hidden;
}

.victoryPopup {
    position: fixed;
    left: 0;
    right: 0;
    top: 35%;
    bottom: 0;
    justify-content: center;
    align-items:center;
    z-index: 100;
    
}

.popupBody {
    background: #f8f8ff;
    border: 2px solid #c4302b;
    border-radius: 12px;
    height: 250px;
    width: 450px;
    margin: auto;
    padding: 15px 10px 15px 10px;
}


.victoryPopup,
h1,
p {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5px;
    text-align: center;
}

#playAgain {
    background-color: #000;
    border: 3px solid cyan;
    border-radius: 3px;
    color: #f8f8ff;
    height: 45px;
    margin: 10px;
    text-align: center;
}

#playAgain:hover {
    background-color: #f8f8ff;
    border: 3px solid cyan;
    color: #000;
}

/* media queries */

@media (max-width: 672px) {
    .card,
    .back,
    .front {
    border-radius: 6px;
    height: 85px;
    width: 85px;
    }
    .card {
        margin: 2px;
    }
}

@media (max-width: 320px) {
    .card,
    .back,
    .front {
    border-radius: 6px;
    height: 70px;
    width: 70px;
    }
    .card {
        margin: 2px;
    }
}