* {
    box-sizing: border-box;
}

/* Body styling */

/* Title styling */

/* Score counters styling */

/* Game card area */

.cardGrid {
    background-color: yellow;
    max-width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gameCard {
    margin: 5px;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 3px solid #000;
    border-radius: 6px;
    height: 150px;
    width: 150px;    
}

/* Restart button styling */

